.game-form {
    text-align: center;
    background-color: hsl(167, 25%, 29%);
    width: 250px;
}

.form-group {
    padding: 30px;
}

.form-field label {
    display: inline-block;
}

.form-field {
    margin: 10px;
}

.submit-btn {
    background-color: hsl(122, 39%, 49%);
    color: white;

    padding: 15px 32px;
    display: inline-block;
    border: none;

    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.submit-btn:hover {
    background-color: hsl(122, 50%, 56%);
    padding: 15px 34px;
}
.submit-btn:active {
    background-color: hsl(126, 100%, 50%);
}