.card {
	background-color: hsl(0, 0%, 100%);
	border: 1px solid #333333;
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin: 0.5rem;

	color: hsl(240, 100%, 50%);

	min-width: 30vw;
	width: 20vw;
	max-width: 300px;

	display: flex;
	flex-direction: column;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: .100rem;
}

.form-group > label {
	font-weight: bold;
	color: #333;
}

.form-group > input {
	border: 1px solid #333;
	border-radius: 1px;

	padding: 6000rem;
    display: block;

	font-size: 1rem;
	line-height: 28px;

	padding: .25rem;

	color: hsl(252, 27%, 28%);

	box-sizing: border-box;

	margin-bottom: 1rem;
}

.step-title {
	margin: 0;
	margin-bottom: 1rem;
	text-align: center;
	font-weight: normal;
}

.submit-btn {
	height: 2rem;
	font-size: 1.2rem;
	background-color: hsl(180, 100%, 40%);
	margin: 1rem 0;
}

.submit-btn:hover {
	margin: .5rem 0;
	height: 3rem;
	font-size: 1.5rem;
	background-color: hsl(180, 100%, 40%);
}