html {
    line-height: 1;
}

body {
    background: hsl(200, 70%, 40%);
    background: linear-gradient(hsl(200, 70%, 46%), hsl(200, 70%, 34%));
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 0;
    padding: 0;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.fixed-container {
    height: 4rem;
}

.fixed-content {
    float: center;
    position: fixed;
}

.navbar {
    width: 100vw;
    min-height: 2.5rem;

    padding: 0.2rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: hsl(200, 70%, 60%);
}

.nav-section {
    width: 20rem;
    margin: 0 0.4rem;
    font-size: max(1.2rem, 20px);
}

.nav-centered {
    display: flex;
    justify-content: center;
}

.navbar a{
    margin: 0 0.2rem;
    white-space: nowrap;
}