html {
	line-height: 1;
}

body {
	background: rgb(27, 27, 71);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(37,125,9,1) 48%, rgb(0, 113, 136) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;

	margin: 0;
	padding: 0;
}

.centered-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fixed-container {
	height: 5rem;
}

.fixed-content {
	float: center;
	position: fixed;
}

.navbar {
	width: 100%;
	min-height: 2.5rem;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0.4rem 0;

	color: whitesmoke;
	background-color: rgb(2,0,36);
}

.nav-section {
	width: 18rem;
	font-size: 1.2rem;
}

.nav-centered {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.navbar button {
	width: 7rem;
	font-size: 0.8rem;
}

.nav-section:first-of-type {
	margin-left: 0.3rem;
}

.nav-section.links a {
	box-sizing: border-box;
	max-height: 2.5rem;
	padding: 0.3em;
	width: 6em;
	color: whitesmoke;
	font-weight: 500;
	text-decoration: none;
	white-space: nowrap;
}

.nav-section.links a:hover {
	background-color: rgba(13, 165, 241, 0.277);
	border-radius: 1em;
}

@media (max-width: 600px) {
	.nav-section {
		font-size: 1rem;
	}
}
