:root {
    --board-box-size: min(20vh, 20vw);
    --cords-visibility: default;
}

html {
    line-height: 1;
}

body {
    background: rgb(34, 193, 195);
    background: linear-gradient(hsl(200, 70%, 45%), hsl(200, 70%, 35%));
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 0;
    padding: 0;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.fixed-container {
    height: 100px;
}

.fixed-content {
    float: center;
    position: fixed;
}

.navbar {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: hsl(209, 98%, 58%);
}

.navbar div {
    margin: 0 1rem;
}

.game-form {
    text-align: center;
    background-color: hsl(167, 25%, 29%);
    width: 250px;
}

.form-group {
    padding: 30px;
}

.form-field label {
    display: inline-block;
}

.form-field {
    margin: 10px;
}

.submit-btn {
    background-color: hsl(122, 39%, 49%);
    color: white;

    padding: 15px 32px;
    display: inline-block;
    border: none;

    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.submit-btn:hover {
    background-color: hsl(122, 50%, 56%);
    padding: 15px 34px;
}
.submit-btn:active {
    background-color: hsl(126, 100%, 50%);
}

.info {
    display: flex;
    justify-content: space-between;

    width: 16rem;
}

.board-table {
    border-collapse: separate;
    border-spacing: max(0.3em, 3px);
    
    /* border-radius: 0.5rem; */
    /* background-color: hsl(184, 78%, 46%); */
}

.board-table td {
    width: var(--board-box-size);
    height: var(--board-box-size);
    min-width: var(--board-box-size);
    min-height: var(--board-box-size);

    cursor: pointer;
    background-color: white;
    /* border: 1px solid black; */

    font-size: var(--board-box-size);
    text-align: center;
    font-family: monospace;
}

.cords {
    font-size: medium !important;
    color: hsl(0, 0%, 22%);
    visibility: var(--cords-visibility);
}

.occupied {
    cursor: not-allowed !important;
}